.button {
  cursor: pointer;
  box-sizing: border-box;
  background-color: $color-background;
  max-width: 200px;
  border-radius: 100px;
  padding: 20px 0;
}

.button_menu {
  display: block;
  position: relative;
  display: flex;
  gap: 8px;
  @include media-nav-hide {
    display: none;
  }
}

.button_menu_inactive {
  pointer-events: none;
}

.button_menu.button_menu_inactive::after {
  width: 100%;
}

.button_menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  max-width: 100%;
  width: 0%;
  height: 2px;
  background-color: $color-text;
  transition: 0.3s ease-out;
}

.button_menu__icon {
  background-image: url(/icons/coffee-cup.svg);
  height: 20px;
  width: 20px;
}

.button_hero {
  display: flex;
  gap: 8px;
  justify-content: center;
  .button_menu__icon {
    width: 0;
    opacity: 0;
    transition: 0.3s ease-out;
  }
}

.button_app.flex-container {
  gap: 8px;
  justify-content: flex-start;
}

.button_app {
  padding: 12px 43px 12px 20px;
  outline: 2px solid $color-border-second;
  width: 200px;
}

.button_app__icon {
  width: 36px;
  height: 36px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon_apple {
  background-image: url(/icons/apple.svg);
}

.icon_google {
  background-image: url(/icons/google.svg);
}

.button_social {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid $color-border;
}

.icon_x {
  background-image: url(/icons/twitter.svg);
}

.icon_inst {
  background-image: url(/icons/instagram.svg);
}

.icon_fb {
  background-image: url(/icons/facebook.svg);
}

.button_burger {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid $color-border-second;
  @include media-nav-hide {
    display: block;
  }
}

.button_burger__line {
  position: absolute;
  left: calc(50% - 8px);
  width: 16px;
  height: 2px;
  background-color: $color-text;
  border-radius: 20px;
}

.line_1 {
  top: calc(50% - 4px);
}

.line_2 {
  top: calc(50% + 4px);
}

.button_burger_opened {
  .line_1 {
    transform: rotate(45deg);
    top: calc(50% - 1px);
  }

  .line_2 {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
}

.button_category {
  display: flex;
  gap: 8px;
  border: 1px solid $color-border;
  padding: 8px 16px 8px 8px;
  height: 46px;
}

.button_category_active {
  background-color: $color-background-container;
  color: $color-text-second;
  .button_category__icon {
    background-color: $color-background;
  }
}

.selected {
  background-color: $color-background-container;
  color: $color-text-second;
  .button_option__icon {
    background-color: $color-background;
  }
}

.button_category__icon {
  width: 30px;
  height: 30px;
  background-color: $color-border;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.button_load-more {
  background-image: url(/icons/refresh.svg);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 1px solid $color-border-second;
  margin: 40px auto 0;
}

.button_option {
  display: flex;
  align-items: center;
  padding: 0 16px 0 8px;
  border: 1px solid $color-border;
  gap: 8px;
  flex-direction: row-reverse;
  height: 46px;
}

.button_option__icon {
  background-color: $color-border;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.button_modal_close {
  padding: 10px 0;
  max-width: 438px;
  width: 100%;
  border: 1px solid $color-border-second;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  animation: rotate 1s linear;
}

.button_category__icon_1 {
  background-image: url(/img/coffee.png);
}

.button_category__icon_2 {
  background-image: url(/img/tea.png);
}

.button_category__icon_3 {
  background-image: url(/img/dessert.png);
}

@media (hover: hover) {
  .button_menu:hover::after {
    width: 100%;
  }

  .button_hero:hover {
    .button_menu__icon {
      width: 20px;
      opacity: 1;
    }
  }

  .button_app:hover {
    background-color: $color-background-container;
    p {
      color: $color-text-second;
    }
    .icon_apple {
      background-image: url(/icons/apple-light.svg);
    }

    .icon_google {
      background-image: url(/icons/google-light.svg);
    }
  }

  .button_social:hover {
    background-color: $color-background;
    fill: $color-text;
  }

  .icon_x:hover {
    background-image: url(/icons/twitter-dark.svg);
  }

  .icon_inst:hover {
    background-image: url(/icons/instagram-dark.svg);
  }

  .icon_fb:hover {
    background-image: url(/icons/facebook-dark.svg);
  }
}
