.slider {
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.slider__content {
  max-width: 480px;
  overflow: hidden;
  margin: 0 auto;
  @include media-slider-controls-hide {
    max-width: 348px;
  }
}

.slider__content__cards {
  display: flex;
}

.slider__content__card {
  min-width: 480px;
  @include media-slider-controls-hide {
    min-width: 348px;
  }
  .medium {
    margin: 16px 0;
  }
}

.slider__content__card__img {
  height: 480px;
  background-size: contain;
  @include media-slider-controls-hide {
    height: 348px;
  }
}

.img_1 {
  background-image: url(../assets/img/coffee-slider-1.png);
}

.img_2 {
  background-image: url(../assets/img/coffee-slider-2.png);
}

.img_3 {
  background-image: url(../assets/img/coffee-slider-3.png);
}

.img_4 {
  background-image: url(../assets/img/coffee-slider-1.png);
}

.img_5{
  background-image: url(../assets/img/coffee-slider-2.png);
}

.img_6 {
  background-image: url(../assets/img/coffee-slider-3.png);
}

.img_7 {
  background-image: url(../assets/img/coffee-slider-1.png);
}

.img_8 {
  background-image: url(../assets/img/coffee-slider-2.png);
}

.slider__control {
  width: 60px;
  height: 60px;
  background-image: url(../assets/icons/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid $color-border-second;
  border-radius: 50%;
  @include media-slider-controls-hide {
    display: none;
  }
}

@media (hover: hover) {
  .slider__control:hover {
    cursor: pointer;
    background-color: $color-background-container;
    background-image: url(../assets/icons/arrow-right-light.svg);
  }
}

.slider__control_prev {
  transform: rotate(180deg);
}

.slider__progress {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
}

.slider__progress__bar {
  width: 40px;
  height: 4px;
  background-color: $color-border;
  border-radius: 100px;
}

.slider__progress__bar_active {
  width: 0;
  height: 100%;
  background-color: $color-border-second;
  border-radius: 100px;
}

@keyframes fillBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.active {
  animation: fillBar 4s linear forwards;
}

.paused {
  animation-play-state: paused;
}

.slider__error {
  margin: 0 auto;
}
