//colors
$color-text: #403f3d;
$color-text-second: #e1d4c9;
$color-text-accent: #b0907a;

$color-background: #e1d4c9;
$color-background-container: #665f55;
$color-background-backdrop: #665f55;

$color-border: #c1b6ad;
$color-border-second: #665f55;

//width
$content-width: 1440px;
$desktop-width: 1200px;

//$app-section-width: 1150px;
$tablet-width: 813px;
$nav-hide-width: 768px;
$small-tablet-width: 715px;
$slider-controls-hide-width: 665px;
$mobile-width: 380px;
