.mobile-app {
  margin-bottom: 100px;
}

.button_app__text {
  .caption {
    margin-bottom: 2px;
  }
}

.mobile-app__buttons {
  max-width: 420px;
}

.mobile-app__text {
  max-width: 630px;
  padding-right: 15px;
  .medium {
    margin: 40px 0;
  }
}

.mobile-app__img {
  background-image: url(../assets/img/mobile-screens.png);
  width: 630px;
  height: 630px;
}
