.button {
  cursor: pointer;
  box-sizing: border-box;
  background-color: $color-background;
  max-width: 200px;
  border-radius: 100px;
  padding: 20px 0;
}

.button_menu {
  display: block;
  position: relative;
  display: flex;
  gap: 8px;
  @include media-nav-hide {
    display: none;
  }
}

.button_menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  max-width: 100%;
  width: 0%;
  height: 2px;
  background-color: $color-text;
  transition: 0.3s ease-out;
}

.button_menu__icon {
  background-image: url(../assets/icons/coffee-cup.svg);
  height: 20px;
  width: 20px;
}

.button_hero {
  display: flex;
  gap: 8px;
  justify-content: center;
  .button_menu__icon {
    width: 0;
    opacity: 0;
    transition: 0.3s ease-out;
  }
}

.button_app.flex-container {
  gap: 8px;
}

.button_app {
  padding: 12px 43px 12px 20px;
  outline: 2px solid $color-border-second;
}

.button_app__icon {
  width: 36px;
  height: 36px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon_apple {
  background-image: url(../assets/icons/apple.svg);
}

.icon_google {
  background-image: url(../assets/icons/google.svg);
}

.button_social {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid $color-border;
}

.icon_x {
  background-image: url(../assets/icons/twitter.svg);
}

.icon_inst {
  background-image: url(../assets/icons/instagram.svg);
}

.icon_fb {
  background-image: url(../assets/icons/facebook.svg);
}

.button_burger {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid $color-border-second;
  @include media-nav-hide {
    display: block;
  }
}

.button_burger__line {
  position: absolute;
  left: calc(50% - 8px);
  width: 16px;
  height: 2px;
  background-color: $color-text;
  border-radius: 20px;
}

.line_1 {
  top: calc(50% - 4px);
}

.line_2 {
  top: calc(50% + 4px);
}

.button_burger_opened {
  .line_1 {
    transform: rotate(45deg);
    top: calc(50% - 1px);
  }

  .line_2 {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
}

@media (hover: hover) {
  .button_menu:hover::after {
    width: 100%;
  }

  .button_hero:hover {
    .button_menu__icon {
      width: 20px;
      opacity: 1;
    }
  }

  .button_app:hover {
    background-color: $color-background-container;
    p {
      color: $color-text-second;
    }
    .icon_apple {
      background-image: url(../assets/icons/apple-light.svg);
    }

    .icon_google {
      background-image: url(../assets/icons/google-light.svg);
    }
  }

  .button_social:hover {
    background-color: $color-background;
    fill: $color-text;
  }

  .icon_x:hover {
    background-image: url(../assets/icons/twitter-dark.svg);
  }

  .icon_inst:hover {
    background-image: url(../assets/icons/instagram-dark.svg);
  }

  .icon_fb:hover {
    background-image: url(../assets/icons/facebook-dark.svg);
  }
}
