@import "tailwindcss";

:root {
  --color-text: #403f3d;
  --color-text-second: #e1d4c9;
  --color-text-accent: #b0907a;

  --color-bg: #e1d4c9;
  --color-bg-container: #665f55;
  --color-bg-backdrop: #403f3dcc;

  --color-border: #c1b6ad;
  --color-border-second: #665f55;

  --background: var(--color-bg);
  --foreground: var(--color-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-bg-container);
    --foreground: var(--color-bg);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
